.navbar {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
}

li {
  display: inline-block;
  list-style-type: none;
  margin: 0 12px;
}

.hero {
  background-image: url('/images/hero.png');
  background-repeat: no-repeat;
  height: 100%;
  padding-top: 219px;
  padding-left: 103px;
  padding-bottom: 0;
}

h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

button {
  margin-top: 35px;
  padding: 12px 30px;
  background: #52647E;
  color: white;
  border-radius: 10px;
}

.journey {
  background: #618379;
  padding: 57px 0;
  align-content: center;
}

h2 {
  color: white;
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 57px;
}

.journey-list {
  display: flex;
  width: 80%;
  margin: 110px;
  justify-content: space-between;
}

.journey-card {
  width: 30%;
  background-color: white;
  padding: 25px;
  border-radius: 40px;
  color:gray;
}

.journey-image {
  
  border-radius: 25px;
  margin-bottom: 25px;
  width: 100%;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 12px;
  color: black;
}

footer {
  background: #333232;
  text-align: center;
  color: white;
  padding: 30px;
}

#react{
  margin-right: 40px;
  margin-left: 40px;
}

/*My addition code*/
#first{
border-bottom: 2px solid #618379;
border-bottom-width: 50%;
font-family: Arial, Helvetica, sans-serif;
size: 100px;
padding: 25px;
margin-right: 500px;
}

.second{
background-image: url('/images/intro-to-web.png');
background-repeat: no-repeat;
background-size: 100%;
height: 200px;
width: 450px;
padding-top: 219px;
padding-left: 103px;
}

span{
size: 16px;
color: aqua;
}